* ,input[type="checkbox"]{
  font-size: 14pt;
}

.Main{
  display:flex;
  justify-content: center;
  margin-top: 10%;
}

.app {
  text-align: center;
  width:70%;
  background-color: lightgray;
}

input[type="text"]{
  width: 90%;
  background-color: rgb(18, 76, 128);
}

.buttons1,.buttons2,.buttons3 {
  width:33.33%;
}

.active {
  background-color:#ccc;
}

span {
  /* display: inline-block; */
 
  width:70%;
}

.crta {
  /* display: inline-block; */
  text-decoration: line-through;
  /* width:70%; */
}

.flex {
  display:flex;
  justify-content: space-between;
}